.footer {
  @extend %full-width;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  background-color: #6d2eae;
  &.sokol {
    background-color: #6ac9b9;
  }
  @media screen and (max-width: $mobile-width) {
    height: auto;
    padding: 20px 10px 0;
  }

  .container {
    position: relative;

    @media screen and (max-width: $mobile-width) {
      padding-top: $footer-height - 20;
    }
  }

  &-logo,
  .socials {
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    top: 50%;

    @media screen and (max-width: $mobile-width) {
      transform: translateY(0);
      top: 0;
    }
  }

  &-logo {
    @include image-2x('../images/logo_validators_dapp_footer@2x.png', 123px, 24px);
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    width: 123px;
    height: 24px;
    background-image: url('../images/logo_validators_dapp_footer.png');
    background-position: 0 0;
  }

  &-rights {
    color: #fff;
    line-height: $footer-height;
    text-align: center;
    font-size: 12px;

    @media screen and (max-width: $mobile-width) {
      line-height: 30px;
    }
  }
}
