.header {
  @extend %full-width;
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 18px 10px;
  background-color: #6d2eae;
  background-repeat: no-repeat;
  background-size: cover;
  &.sokol {
    background-color: #6ac9b9;
  }
  &-settings {
    float: right;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 39px;
    margin-right: 40px;
    font-size: 13px;
    font-weight: bold;
  }

  &-logo {
    @include image-2x('../images/logo_validators_dapp@2x.png', 182px, 35px);
    float: left;
    width: 182px;
  	height: 35px;
    background-image: url('../images/logo_validators_dapp.png');
    background-position: 0 0;
  }
  
  &-logo-sokol {
    @include image-2x('../images/logo_sokol@2x.png', 146px, 35px);
    float: left;
    width: 190px;
  	height: 35px;
    background-image: url('../images/logo_sokol.png');
    background-position: 0 0;
  }

  &-new-ballot {
    @extend %btn;
    @extend %btn-new;
    float: right;
    margin-top: 3px;
  }
}
.select-network-id {
  width: 40px;
  background: #fff;
}