@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

html,
body {
  color: #333;
  line-height: 1;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased; }

.footer, .footer-rights, .header {
  left: 0;
  right: 0; }

.create-keys-button, .header-new-ballot {
  cursor: pointer;
  transition: 0.3s background-color;
  border-radius: 3px;
  border: 0;
  padding: 0 15px 0 32px;
  background-color: #08b3f2;
  background-repeat: no-repeat;
  background-position: left 15px center;
  color: #fff;
  line-height: 36px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold; }
  .create-keys-button:hover, .header-new-ballot:hover {
    background-color: #20bdf7; }
  .header-new-ballot {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAFVBMVEX///////////////////////////9nSIHRAAAABnRSTlMASUrk5udXTd49AAAAOUlEQVR42tXQsQEAIAgDQcAn+4+snRZxAK79KokrIcNBwgYdc0Migwxk8Qsd1TJWDf/KQWobqt+9G4coA99W7as5AAAAAElFTkSuQmCC);
    background-size: 12px 12px; }

.create-keys {
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid #eee;
  background-color: #fff;
  color: #333; }

html,
body {
  margin: 0;
  padding: 0; }

#root {
  display: table;
  width: 100%; }

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

html {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

body {
  position: relative;
  display: table;
  width: 100%;
  min-width: 960px;
  height: 100%;
  box-sizing: border-box;
  padding: 80px 0 60px; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.content {
  display: table-cell;
  vertical-align: top;
  background-color: #fbfbfb; }

.key-content {
  display: table-cell;
  vertical-align: middle;
  background-color: #fbfbfb;
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }

button:focus {
  outline: none; }

.create-keys-button-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.create-keys {
  padding: 30px 20px; }
  .create-keys h1 {
    margin-bottom: 20px; }
  .create-keys h2 {
    margin-bottom: 20px; }
  .create-keys-button {
    margin-top: 20px;
    display: inline-block;
    background-color: #08b3f2;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAFVBMVEX///////////////////////////9nSIHRAAAABnRSTlMASUrk5udXTd49AAAAOUlEQVR42tXQsQEAIAgDQcAn+4+snRZxAK79KokrIcNBwgYdc0Migwxk8Qsd1TJWDf/KQWobqt+9G4coA99W7as5AAAAAElFTkSuQmCC);
    background-size: 12px 12px; }
    .create-keys-button[disabled] {
      background-color: #079dd4; }
  .create-keys-inputs {
    display: table;
    width: 100%; }
  .create-keys .left {
    padding-right: 10px; }
  .create-keys .right {
    padding-left: 10px; }
  .create-keys .left,
  .create-keys .right {
    display: table-cell;
    width: 48%; }
  .create-keys label:not(.radio) {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold; }
  .create-keys button,
  .create-keys input,
  .create-keys textarea {
    outline: none;
    font-family: 'Open Sans', sans-serif; }
  .create-keys input,
  .create-keys textarea {
    transition: 0.3s border-color;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #eee; }
    .create-keys input:focus,
    .create-keys textarea:focus {
      border-color: #08b3f2; }
  .create-keys textarea {
    padding: 15px;
    height: 110px;
    resize: none; }
  .create-keys input {
    padding: 0 15px;
    height: 36px; }
  .create-keys input[type="radio"] {
    display: none; }
    .create-keys input[type="radio"]:checked + .radio:after {
      opacity: 1; }

.footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 15px 10px;
  color: #fff;
  line-height: 30px;
  font-size: 12px;
  background-image: url("../images/bg_footer.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .footer .container {
    position: relative;
    overflow: hidden; }
  .footer-logo {
    position: relative;
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 24px;
    background-image: url("../images/CEREMONY_footer.png");
    background-position: 0 0; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .footer-logo {
        background-image: url("../images/CEREMONY_footer@2x.png");
        background-size: 100px 24px; } }
  .footer-rights {
    position: absolute;
    z-index: 1;
    top: 0;
    text-align: center; }

.header {
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 18px 10px;
  background-image: url("../images/bg_header.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .header-settings {
    float: right;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 39px;
    margin-right: 40px;
    font-size: 13px;
    font-weight: bold; }
  .header-logo {
    float: left;
    width: 149px;
    height: 35px;
    background-image: url("../images/CEREMONY.png");
    background-position: 0 0; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .header-logo {
        background-image: url("../images/CEREMONY@2x.png");
        background-size: 149px 35px; } }
  .header-new-ballot {
    float: right;
    margin-top: 3px; }

@keyframes fadeOut {
  0% {
    opacity: .2; }
  20% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: .2;
    transform: scale(0.3); } }

.loading {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 146px;
  margin: -30px 0 0 -81.5px;
  padding-top: 50px; }
  .loading:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 146px;
    height: 35px;
    background-image: url("../images/loading.png");
    background-position: 0 0; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .loading:before {
        background-image: url("../images/loading.png");
        background-size: 100% 100%; } }
  .loading-container {
    position: fixed;
    z-index: 1000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(35, 29, 115, 0.8); }
  .loading-i {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: fadeOut;
    animation-timing-function: linear;
    opacity: .2;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff; }
    .loading-i:nth-child(2) {
      animation-delay: .1s; }
    .loading-i:nth-child(3) {
      animation-delay: .2s; }
    .loading-i:nth-child(4) {
      animation-delay: .3s; }
    .loading-i:nth-child(5) {
      animation-delay: .4s; }
    .loading-i:nth-child(6) {
      animation-delay: .5s; }

.socials {
  position: relative;
  z-index: 2;
  float: right;
  font-size: 0; }
  .socials-i {
    transition: 0.3s background-color;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2); }
    @media screen and (min-width: 768px) {
      .socials-i:hover {
        background-color: rgba(255, 255, 255, 0.4); } }
    .socials-i:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      background-image: url(../images/socials.png); }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .socials-i:before {
          background-image: url("../images/socials@2x.png");
          background-size: 15px 40px; } }
    .socials-i_reddit:before {
      width: 15px;
      height: 13px;
      margin: -6.5px 0 0 -7.5px;
      background-position: 0 -15px; }
    .socials-i_twitter:before {
      width: 15px;
      height: 12px;
      margin: -6px 0 0 -7.5px;
      background-position: 0 -28px; }
    .socials-i_bitcoin:before {
      width: 11px;
      height: 15px;
      margin: -7.5px 0 0 -5.5px;
      background-position: 0 0; }

.validators {
  text-align: left; }
  .validators-i {
    margin-bottom: 30px;
    border-radius: 8px;
    border: 1px solid #eee;
    background-color: #fff;
    color: #333; }
  .validators-header {
    border-bottom: 1px solid #eee;
    padding: 25px 20px;
    font-size: 16px;
    font-weight: bold; }
  .validators-body {
    overflow: hidden;
    padding: 0 20px 20px; }
  .validators-notary, .validators-license {
    width: 48%; }
  .validators-title {
    text-transform: uppercase;
    margin: 20px 0;
    color: #8197a2;
    font-size: 12px;
    font-weight: bold; }
  .validators-table {
    border: 1px solid #eee; }
    .validators-table-tr {
      overflow: hidden;
      padding: 0 10px; }
      .validators-table-tr:not(:last-child) {
        border-bottom: 1px solid #eee; }
    .validators-table-td {
      padding: 10px 0;
      font-size: 12px; }

.nav {
  font-size: 0; }
  .nav-i {
    transition: 0.3s color;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    color: #8197a2;
    text-transform: uppercase;
    text-decoration: none;
    line-height: normal;
    font-size: 14px;
    font-weight: bold; }
    .nav-i:hover, .nav-i_active {
      color: #444; }
    .nav-i_active:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -30px;
      height: 3px;
      background-color: #08b3f2; }

.search {
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  line-height: 80px;
  text-align: left; }
  .search .back {
    transition: 0.3s opacity;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAMAAACgaw2xAAAAjVBMVEUAtfX///8AtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUAtfUmVRXZAAAALnRSTlMAAAQKDxAXISIpKzc+P1laYm1vdneQlJWjpKyvs7W2ycrP0NLY3uDh4u3u+f3+FQ2PgAAAAJlJREFUGNOV0ckSgjAQRdEWghMiKiLihBOiIPf/P88FSEEiC98yp6o79VrkG3uZPRYigzrN+zAEChMme6CMDfASoNgoHfwUeAWWdMFa50A6F+mCExXAeSYajA/AO1SigXsFKJPd8dTKdip3fubWD+6lZ5SMquWOvlxEVd/1DBAryIHUN6CuJDcqaUqMVE/txH8cSsRePbPWaT+TOR0SIiH2HAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px 10px;
    padding-left: 20px;
    color: #08b3f2;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold; }
    .search .back:hover {
      opacity: 0.8; }
  .search .container {
    position: relative; }
  .search-input {
    display: block;
    transition: 0.3s width, 0.3s border-color;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid transparent;
    box-sizing: border-box;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAA6lBMVEWAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6PrSx+9AAAATXRSTlMAAgMGCAkKDA0UFRYXISIjJDM0NTo7PD0/QEFERUlQWVpoaWp0dXaZm5ydnqSlpra4ub/AwcTFxsjKzM3Oz9bX2N3e6ers7fX5+vz9/pKojzsAAAGRSURBVHgBjZRtX4IwFMUXmKaBYmhWauSzEmkl+ZAaaJGo8P2/TnejEGHrt/PqcM9f2cbdRVHJDWPhuK6zMBoyYkrQJp4fyptoAp2rWn5MVpWCpXo+Rb1UnMvNg/eZ3bIkilK5YwarmOdinI2rB105lhT9gGv2CZme4dpGPf21usHVWTpS6uPKaxbFlDVxvR/ZL35+EVFC4jNOwr2ffeC1XCCKMnjt1t95avCwVxFV6h5C7ffhDbyOGBpAOAmsDCfmKSxQwWme2Cb8ZoyYGkPcJM4A12WDXYgN4lbgrtlgBeIlcQ44iQ1KEH8T54IT2aAIscsP8r+abzMr4p7AdXiOh/vA8/9/wgP5hGFTDDiaImizKzpXjLaZYOHuzFAbl0TCyVUY0a7CCCe1Y+GRkIn/zBBOT1xXqxhbXzBj6rQBUDiWCjAAiLY3UfLy3Seo2S7hkVJqmxijkef0IVXfJkhUs+OYDfu9o5CCNvUi2PSBnN9tkgTJreHS2e2c5bBFRjOVpCskK7zkGnGSn4hHlfXX/Q90qIZ+dL9jIAAAAABJRU5ErkJggg==);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: #333;
    font-size: 14px; }
    .search-input:focus {
      cursor: text;
      width: 300px;
      border-color: #eee;
      padding: 0 40px 0 10px; }
