html,
body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  display: flex;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #333;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  padding-bottom: $footer-height_desktop;
  position: relative;
  width: 100%;

  @media screen and (max-width: $tablet-width) {
    padding-bottom: $footer-height_mobile;
  }
  @media screen and (max-width: $mobile-width) {
    padding-bottom: $footer-height_mobile;
  }
}

.container {
  @extend %container;
}

.key-content {
  display: table-cell;
  vertical-align: middle;
  background-color: #fbfbfb;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-capitalized {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-align-right {
  text-align: right;
}
