html,
body,
p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  display: flex;
  min-height: 100%;
}

body {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: $footer-height_desktop;
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;

  @media screen and (max-width: $tablet-width) {
    padding-bottom: $footer-height_mobile;
  }
  @media screen and (max-width: $mobile-width) {
    padding-bottom: $footer-height_mobile;
  }
}

.container {
  @extend %container;
}

.key-content {
  display: table-cell;
  vertical-align: middle;
  background-color: #fbfbfb;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}
