.create-keys-button-container {
  display: flex;
  align-items: center;
  justify-content: center
}

.create-keys {
  padding-bottom: 20px;

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 20px;
  }

  &-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;

    @media (max-width: $tablet-width) {
      flex-direction: column;
    }

    &-i {
      width: 48%;
      flex-shrink: 0;

      @media (max-width: $tablet-width) {
        width: 100%;
      }
    }
  }

  label {
    &:not(.radio) {
      color: #333;
      display: block;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 6px;
    }
  }

  button,
  input,
  textarea {
    outline: none;
    font-family: 'Open Sans', sans-serif;
  }

  input,
  textarea {
    @include default-text-input-styles();
    margin-bottom: 20px;
    width: 100%;
  }

  #PlacesAutocomplete__root {
    margin-bottom: 20px;
    input {
      margin-bottom: 0;
    }
  }

  textarea {
    height: 110px;
    padding: 15px;
    resize: none;
  }

  input[type="radio"] {
    display: none;

    &:checked + .radio:after {
      opacity: 1;
    }
  }
}

.create-keys-button {

  @extend %btn;
  @extend %btn-new;

  &[disabled] {
    cursor: default;
    opacity: 0.7;
  }

  &:focus,
  &:active {
    box-shadow: none;
  }

  &.finalize {
    margin-right: 10px;
  }

  .sokol & {
    background-color: $secondary-color;
    &:hover {
      background-color: lighten($secondary-color, 10%);
    }
  }
}

.create-keys-address-note {
  color: $primary-color;
  border: solid 1px $primary-color;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  margin: 50px 0 40px 0;
  padding: 30px 47px 28px 62px;
  position: relative;

  &__icon-info {
    background-image: url('#{ $base-images-path }/icons/icon-info.svg');
    background-repeat: no-repeat;
    height: 18px;
    left: 34px;
    position: absolute;
    top: 30px;
    width: 10px;
  }

  a {
    color: $primary-color;
  }
}
