.header {
  background-color: $primary-color;
  width: 100%;
  z-index: 9999;

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: $mobile-width) {
      width: 93%;
      padding: 22px 0;
    }

    @media screen and (max-width: $tablet-width) {

    }
  }

  &.sokol {
    background-color: $secondary-color;
  }

  // logos
  &-logo {
    display: block;
    height: 35px;
  }

  // header links
  .links-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: $header-links-container-height;
    margin-left: auto;

    @media screen and (max-width: $mobile-width) {
      display: none;
    }

    @media screen and (max-width: $tablet-width) {
      justify-content: flex-end;
      width: auto;
    }
  }

  .links_container_mobile {
    display: none;

    @media screen and (max-width: $mobile-width) {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
    }
  }

  .link {
    color: #fff;
    font-weight: 700;
    line-height: 16px;
    margin-left: 30px;
    opacity: 0.8;
    text-decoration: none;

    &:hover,
    &.active {
      opacity: 1;
    }

    @media screen and (max-width: $mobile-width) {
      margin-left: 0;
    }
  }

  // header link items
  .link-icon {
    height: 18px;
    width: 18px;
    margin-right: 10px;
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &-all {
      background-image: url('#{ $base-images-path }/icons/icon-events.svg');
    }
    &-set-metadata {
      background-image: url('#{ $base-images-path }/icons/icon-status.svg');
    }
    &-pending-changes {
      background-image: url('#{ $base-images-path }/icons/icon-statistics.svg');
    }
  }

  .Select {
    margin-left: 25px;
  }

}

.select-network-id {
  background: #fff;
  width: 40px;
}
