.validators {
  text-align: left;

  &-i {

    border-radius: 5px;
    border: 1px solid $base-border-color;
    margin-bottom: 30px;
    padding: 20px 30px;

    @media (max-width: $mobile-width) {
      margin-bottom: 20px;
    }

  }

  &-header {

    border-bottom: 1px solid $base-border-color;
    color: #333333;
    display: flex;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    justify-content: space-between;
    letter-spacing: normal;
    line-height: 1.2;
    margin: 0 0 20px;
    padding: 0 0 15px;
    text-align: left;

    @media (max-width: $mobile-width) {
      display: block;
    }

    &--address {
      word-break: break-all;
      margin-bottom: 10px;
    }

    &--hint {
      color: #777;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.2;
    }

    &--confirmations {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.2;
      @media (max-width: $mobile-width) {
        padding-top: 15px;
      }
    }

  }

  &-body {
    overflow: hidden;
  }
  &-footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  &-notary,
  &-license {
    width: 48%;
    font-size: 12px;

    @media (max-width: $tablet-width) {
      float: none;
      width: 100%;
    }
  }

  &-title {
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    margin: 0 0 20px 0;
    padding: 0 0 0 35px;
    text-align: left;

    @media (max-width: $mobile-width) {
      margin: 15px 0;
    }

    &--notary {
      background-image: url('#{ $base-images-path }/icons/icon-notary.svg');
    }
    &--notary-license {
      background-image: url('#{ $base-images-path }/icons/icon-notary-license.svg');
    }
  }

  &-table {

    &-i {
      color: #333;
      display: flex;
      font-size: 14px;
      font-weight: 500;
      justify-content: space-between;
      line-height: 1.2;
      padding: 20px;

      &:nth-child(odd) {
        background-color: #f7f7f7;
      }

    }
  }
}

.validators-count {
  color: #333;
  font-size: 14px;
  line-height: 38px;
  margin-bottom: 0;

  &-val {
    font-weight: 700;
  }
}

// Icon that represents unconfirmed/confirmed validator's data
%data-icon {
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.data-icon {
  &--unconfirmed {
    @extend %data-icon;
    background-color: #e5e5e5;
    background-image: url('/images/unconfirmed.svg');
  }

  &--confirmed {
    @extend %data-icon;
    background-color: #60db97;
    background-image: url('/images/confirmed.svg');
  }
}
