.validators {
  text-align: left;

  &-i {

    margin-bottom: 30px;

    @media (max-width: $mobile-width) {
      margin-bottom: 20px;
    }

    .confirmations {
      font-weight: normal;
      font-size: 12px;
      padding-top: 5px;
    }
  }

  &-header {
    border-bottom: 1px solid $base-border-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 20px 0;

    &--address {
      word-break: break-all;
    }
  }

  &-body {
    overflow: hidden;

  }

  &-notary,
  &-license {
    width: 48%;
    font-size: 12px;

    @media (max-width: $mobile-width) {
      float: none;
      width: 100%;
    }
  }

  &-title {
    margin: 0 0 15px 0;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: #333;

    @media (max-width: $mobile-width) {
      margin: 15px 0;
    }
  }

  &-table {
    border: 1px solid $base-border-color;

    &-i {
      color: #333;
      display: flex;
      font-size: 14px;
      justify-content: space-between;
      line-height: 1.2;
      padding: 20px 10px;

      &:not(:last-child) {
        border-bottom: 1px solid $base-border-color;
      }
    }
  }
}

.validators-count {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;

  &-val {
    font-weight: 700;
  }
}
