.create-keys-button-container {
  display: flex;
  align-items: center;
  justify-content: center
}

.create-keys {
  @extend %item;
  @extend %item-paddings;

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 20px;
  }

  &-button {
    @extend %btn;
    @extend %btn-new;

    &[disabled] {
      background-color: #079dd4;
    }
  }

  &-form {
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet-width) {
      flex-direction: column;
    }

    &-i {
      width: 48%;

      @media (max-width: $tablet-width) {
        width: 100%;
      }
    }
  }

  label {
    &:not(.radio) {
      display: block;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }
  }

  button,
  input,
  textarea {
    outline: none;
    font-family: 'Open Sans', sans-serif;
  }

  input,
  textarea {
    transition: 0.3s border-color;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #eee;

    &:focus {
      border-color: #08b3f2;
    }
  }

  textarea {
    padding: 15px;
    height: 110px;
    resize: none;
  }

  input {
    padding: 0 10px;
    height: $input-height;
  }

  input[type="radio"] {
    display: none;

    &:checked + .radio:after {
      opacity: 1;
    }
  }
}
