.header {
  .container {		
    display: flex;		
    justify-content: space-between;		
  }		
  padding: 18px 0;
  background-image: url('../images/bg_header.png');
  background-repeat: no-repeat;
  background-size: cover;

  &.sokol {
    background-image: none;
    background-color: #6ac9b9;
  }

  &-logo {
    @include image-2x('../images/logo_validators_dapp@2x.png', 182px, 35px);
    display: block;
    width: 182px;
    height: 35px;
    background-image: url('../images/logo_validators_dapp.png');
    background-position: 0 0;
  }

  &-logo-sokol {
    @include image-2x('../images/logo_sokol@2x.png', 146px, 35px);
    display: block;
    width: 146px;
    height: 35px;
    background-image: url('../images/logo_sokol.png');
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.select-network-id {
  width: 40px;
  background: #fff;
}
