.keys {
  display: table;
  width: 100%;
  margin-bottom: 60px;
  text-align: left;

  $_this: &;

  &-i {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 33.33%;
    box-sizing: border-box;
    padding: 0 15px 60px 15px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:not(:first-child) {
      border-left: 1px solid #e1e1e1;
    }
  }

  &-title {
    margin-bottom: 10px;
    @extend %title;
  }

  &-hash {
    height: 30px;
    color: #6d2eae;
    line-height: 16px;
    font-size: 12px;
    display: table-cell;
  }

  &-hash-container {
    display: table;
  }

  &-description {
    @extend %description;
    line-height: 18px;
    font-size: 12px;
  }

  &-footer {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;

    #{$_this}-i:first-child & {
      left: 0;
    }
  }

  &-download,
  &-read-more {
    display: inline-block;
    vertical-align: middle;
  }

  &-download {
    @extend %btn;
    background-color: #6d2eae;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAANlBMVEX///////////////////////////////////////////////////////////////////////8BOg0gAAAAEXRSTlMASUtWV1hZXF1e5ebn6Orr/GN0dVoAAABnSURBVHja1cnJDYBADENRDzBsYYn7bxaCFFmMaADf/B+0YlbwNSPtE3jvv9Ad29DCsB0dVtKnN8xOGowhCdm5o/eUgOw+AktKQPYFkDygLglQhyRAXZLzWV2iLlFvRb2V7O3qeVa9C41xDOyv+UmuAAAAAElFTkSuQmCC);

    &:hover {
      background-color: #5d2795;
    }
  }

  &-read-more {
    margin-left: 10px;
    color: #6d2eae;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-note {
    overflow: hidden;
    position: relative;
    border: 1px solid #6d2eae;
    border-radius: 5px;
    padding: 20px 15px 20px 53px;
    background-color: rgba(109, 46, 174, 0.1);
    color: #6d2eae;
    text-align: left;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 42px;
      background-color: #6d2eae;
      background-image: url(../images/warning.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }

    &-title {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
    }

    &-description {
      font-size: 12px;
    }
  }
}
