.nav {
  &-container {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    line-height: 80px;
    text-align: left;

    @media (max-width: $tablet-width) {
      padding: 20px 0;
      line-height: normal;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $tablet-width) {
        flex-direction: column-reverse;
      }
    }
  }

  &-i {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: 0.3s color;
    color: #8197a2;
    text-transform: uppercase;
    text-decoration: none;
    line-height: normal;
    font-size: 14px;
    font-weight: bold;

    &:not(:last-child) {
      margin-right: 40px;

      @media (max-width: $tablet-width) {
        margin-right: 30px;
      }

      @media (max-width: $mobile-width) {
        margin-right: 20px;
        font-size: 13px;
      }
    }

    &:hover,
    &_active {
      color: #444;
    }

    &_active {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        height: 3px;
        background-color: #08b3f2;

        @media (max-width: $tablet-width) {
          bottom: -20px;
        }
      }
    }
  }
}

.Select.is-focused:not(.is-open) > .Select-control {
  border: none;
}
