.key-content {
  display: table-cell;
  vertical-align: middle;
  background-color: #fbfbfb;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-capitalized {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-align-right {
  text-align: right;
}

.text-whitespace-nowrap {
  white-space: nowrap;
}

.display-none {
  display: none;
}
