%stretch-width {
  left: 0;
  right: 0;
}

%title {
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

%description {
  color: #8197a2;
  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
}

%btn {
  transition: 0.3s background-color;
  border-radius: 3px;
  padding: 0 15px 0 32px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: left 15px center;
  color: #fff;
  line-height: 36px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
