.validators {
  text-align: left;

  &-i {
    margin-bottom: 30px;
    border-radius: 8px;
    border: 1px solid #eee;
    background-color: #fff;
    color: #333;
  }

  &-header {
    border-bottom: 1px solid #eee;
    padding: 25px 20px;
    font-size: 16px;
    font-weight: bold;
  }

  &-body {
    overflow: hidden;
    padding: 0 20px 20px;
  }

  &-notary,
  &-license {
    width: 48%;
  }

  &-title {
    text-transform: uppercase;
    margin: 20px 0;
    color: #8197a2;
    font-size: 12px;
    font-weight: bold;
  }

  &-table {
    border: 1px solid #eee;

    &-tr {
      overflow: hidden;
      padding: 0 10px;

      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
    }

    &-td {
      padding: 10px 0;
      font-size: 12px;
    }
  }
}
