$base-images-path: '../images';

// brand colors
$poa-purple: #5c34a2;
$poa-purple-darker: #45277a;
$poa-menu-icon-color: #60db97;

$sokol-cyan: #6ac9b9;
$sokol-cyan-darker: #41b19e;
$sokol-menu-icon-color: #fff;

$xdai-green: #15bba6;
$xdai-gray-darker:  #132942;
$xdai-gray: #173250;
$xdai-menu-icon-color: $xdai-green;

$kovan-cyan: #28aca4;
$kovan-cyan-darker: #1f857f;
$kovan-menu-icon-color: #fff;

// colors
$gray-text-color: #333;

// typography
$base-text-color: #333;
$base-font-size: 14px;

// borders
$base-border-color: #e4e4e4;

// layout
$container-max-width: 1000px;
$container-horizontal-padding-desktop: 20px;
$container-horizontal-padding-tablet: 20px;
$container-horizontal-padding-mobile: 10px;

// widths
$mobile-width: 767px; // TODO: Delete this when possible...

$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1024px;
$breakpoint-xxl: 1280px;
$breakpoint-xxxl: 1366px;

// header
$header-links-container-height: 70px;
$header-height: 70px;

// search
$search-container-height: 50px;

// mobile menu
$header-mobile-menu-container-height: 220px;

// footer
$footer-height: 60px;
$footer-height_desktop: 66px;
$footer-height_mobile: 132px;

// misc
$desktop-indent: 30px;
$tablet-indent: 15px;
$mobile-indent: 10px;

// forms
$input-height: 40px;
$input-color: #202d3c;

// data pair height
$data-pair-height: 24px;