.sw-MainTitle {
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-height: fit-content;
  padding: 30px 0;
}

.sw-MainTitle_Content {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.sw-MainTitle_Text {
  color: #333;
  font-size: 24px;
  line-height: 38px;
  min-height: fit-content;
}

.sw-MainTitle_ExtraText {
  color: #333;
  font-size: 14px;
  line-height: 38px;

  strong {
    font-weight: 700;
  }
}